h1 {
    color: red;
}

#body {
  padding-top: 48px;
}

.landingpage{
  padding: none;
}

nav {
  margin-right: 20px;
}

nav ul {
  position: fixed;
  top: 0;
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #465775;
}
nav ul li {
   float: left;
   border-right: 2px solid #bbb;
   border-color: #EF6F6C;
}

#bodyImage {
  position: relative;
  display: flex;
  width:100%;
  overflow: hidden;
  align-items: center;
  max-height: 600px;
}

#bodyImage img {
  z-index: -1;
}

#bodyImage h1 {
  top:10px;
  left: 100px;
  position: absolute;
  color: #EF6F6C;
  font-size: 160pt;
}
#bodyImage h3 {
  top:260px;
  left: 300px;
  position: absolute;
  color: #EF6F6C;
  font-size: 40px;
  text-shadow: 2px 2px #465775;
}

#homeBtns {
  top:400px;
  position: absolute;
  display: flex;
  margin: auto;
  left: 25%;
}

#homeBtns li{
    list-style: none;
    display: inline;
    padding-right: 40px;
}

#homeBtns button {
  font-size: 75px;
  background-color: #465775;
  color: #EDE6E3;
  border-radius: 30px 30px 30px 30px;
  padding-left: 10px;
  padding-right: 10px;
  text-shadow: 2px 2px #393E41;
  border: 3px #393E41 solid;
}


#nav_bar{
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  color: #EF6F6C;
}

#login_info{
  float: right;
  border-left: 2px solid #bbb;
  border-right: none;
  border-color: #EF6F6C;
}

.video-info {
  background-color: #EDE6E3;
  margin:5px;
  border-radius: 30px 30px 30px 30px;
}

.video-info p{
  margin:50px;
  padding: 10px;
  float: left;
}


#season_table{
  width: 75%;
  margin-left: 10%;
  padding: 0;
}
#season_table tr{
  background-color: #C9F0FF;
  color: #393E41;

}
#table_info_row td{

  color: #EDE6E3;
  background-color: #465775;
  font-size: 3vh;
}
#ep_description {
  height:10px;
  width:40px;
}
#season_name{

}

ol {
  list-style: none;
  margin-left: 10px;
  margin-right: 10px;
}
.show_list {
  display: inline-grid;

}
.index_series_view {
  background-color: #465775;
  margin-top: 5px;
  margin-bottom:5px;
  padding: 10px;
  border-radius: 30px 30px 30px 30px;
}
.index_series_view h2{
  color: #EF6F6C;
}

.index_title{
  font-size: 40px;
  display: block;
}

.grid_view{
  background-color: #EDE6E3;
  margin:5px;
  border-radius: 30px 30px 30px 30px;
}

.grid_view li{
  list-style: none;
  display: inline-grid;
}

.grid_view li button{
  margin-left: 30px;
  margin-right:30px;
  margin-top:10px;
  margin-bottom: 10px;
  padding: 30px;
  font-size: 30px;
}

.add-content-forms {
  margin-left: 20px;
  margin-right: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.add-content-forms div{
  display: inline-block;
}
