{% extends 'base.html' %}
{% load channels_extra %}
<style>
#table_info_row tr{
    font-family: 'Roboto';font-size: 22px;
}
</style>
{% block content %}
  <form role="form" action="" method="post">
  <h1>{{series.name}}</h1>
  <h2 id ="season_name">{{season.name}}</h2>
  {% csrf_token %}
  <table class="table table-hover" id="season_table">
    <tr id="table_info_row">
      <td>#</td>
      <td>Title</td>
      <td>Description</td>
      <td>Year</td>
      <td>Runtime</td>
      <td>
          Add All
          <input name='season_add' type="checkbox" value='add'/>
      </td>
    </tr>
    {% for episode in season.video_set.all|dictsort:"episodeNum" %}
      <tr>
        <td>{{episode.episodeNum}}</td>
        <td>{{episode.name}}</td>
        <td>{{episode.description}}</td>
        <td>{{episode.year}}</td>
        <td>{{episode.runtime|sec_to_min}} mins</td>
        <td><input name="checks[]" type="checkbox" value="{{episode.id}}"></input>
      </tr>
    {% endfor %}
  </table>
    Name: <select type='text' class="form-control" name='channel_name'/></br>
    {% for channel in channels %}
      <option value="{{ channel.id }}">{{channel.name}}</option>
    {% endfor %}
    <input type="submit" value="Save"></input>
  </form>
{% endblock content %}
