<!doctype html>
<html>
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
<head>
  <title>
    {% block title %}
      Netflipper
    {% endblock title %}
  </title>
    {% block header %}{% endblock header %}
</head>
<body>
  <header>
    <nav>
      <ul>
        <li>
          <a id="nav_bar" href = "{% url 'home' %}">Netflipper</a>
        </li>
        {% if user.is_authenticated %}
        <li>
            <a id="nav_bar" href="{% url 'auth_logout' %}">Logout</a>
        </li>
        {% else %}
        <li>
            <a id="nav_bar" href="{% url 'auth_login' %}">Login</a>
        </li>
        <li>
            <a id="nav_bar" href="{% url 'registration_register' %}">Register</a>
        </li>
        {% endif %}
      </ul>
    </nav>
  </header>
  <div id="body">
  {% block content %}{% endblock content %}
  {% block footer %}{% endblock footer %}
</div>
</body>
</html>
